@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
* body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(49, 49, 49, 0.671)), url(../imagenes/buenosairesfondo1.png.jpeg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
}

.header-txt {
  padding: 0 150px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 200px;
  max-width: 1200px;
}
.header-txt h1 {
  font-size: 60px;
  line-height: 1;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
}
.header-txt P {
  font-size: 20px;
  color: #ffffff;
  text-align: left;
}

.navbar img {
  width: 250px;
}

.offcanvas a {
  color: #ff70cf;
}

.btn {
  border-radius: 100px;
  border: 4px solid;
  color: #ff70cf;
  background-color: rgba(218, 61, 218, 0.5333333333);
}
.btn a {
  color: #ffffff;
  text-decoration: none;
}

.offcanvas img {
  height: 80px;
  width: 350px;
}

.header1 {
  padding: 0px 0;
  background: linear-gradient(rgba(19, 3, 14, 0.8), rgba(3, 3, 3, 0.8)), url(../imagenes/buenosairesfondo4.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
}

.header2 {
  padding: 0px 0;
  background: linear-gradient(rgba(19, 3, 14, 0.8), rgba(3, 3, 3, 0.8)), url(../imagenes/buenosairesfondo5.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
}

.header-txt2 {
  padding: 0 150px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 150px;
  max-width: 1200px;
}
.header-txt2 h1 {
  font-size: 60px;
  line-height: 1;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
}
.header-txt2 P {
  font-size: 20px;
  color: #ffffff;
  text-align: left;
}

.header3 {
  padding: 0px 0;
  background: linear-gradient(rgba(19, 3, 14, 0.8), rgba(3, 3, 3, 0.8)), url(../imagenes/fondoservicios.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
}

.header-txt3 {
  padding: 0 150px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  max-width: 1200px;
}
.header-txt3 h1 {
  font-size: 60px;
  line-height: 1;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
}
.header-txt3 P {
  font-size: 20px;
  color: #ffffff;
  text-align: left;
}

.header4 {
  padding: 0px 0;
  background: linear-gradient(rgba(19, 3, 14, 0.8), rgba(3, 3, 3, 0.8)), url(../imagenes/fondocontacto.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
}

@keyframes cardshow {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.card img {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: cardshow;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.imagencontacto {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: cardshow;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.testimonial1 img {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: cardshow;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.about {
  text-align: center;
  margin: auto;
  background-color: #ffffff;
  position: relative;
}

.about-txt h2 {
  color: #ff70cf;
  font-size: 40px;
}

hr {
  color: #ff70cf;
  width: 200px;
  align-items: center;
  border: 1px solid;
  margin: auto;
}

.about-content {
  margin: auto;
}

.primary btn btn-outline-primary {
  color: #ff70cf;
}

.card-body {
  background-color: rgba(212, 103, 216, 0.3647058824);
  position: relative;
}

p img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

.card {
  margin-bottom: 50px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
  cursor: default;
  transition: all 400ms ease;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
  transform: translateY(-3%);
}

.card-text {
  padding: 10px;
  text-align: center;
  text-transform: bold;
}

.card-img {
  width: 40px;
  height: 400px;
}

.grid {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: white;
}
.grid h5 {
  margin-bottom: 20px;
  color: rgb(247, 0, 255);
}
.grid h2 {
  color: black;
}
.grid h2 hr {
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(247, 0, 255);
}
.grid p {
  text-align: center;
}

.servi {
  width: 150px;
  height: 150px;
}

footer {
  background-color: black;
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #ff70cf;
  margin: 15px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialIcons a:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
}
.socialIcons a:hover i {
  background-color: #ffffff;
  transition: 0.5s;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: nonedisc;
}
.footerNav ul li a {
  color: #ff70cf;
  margin: 15px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}

.footerBot {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}
.footerBot p {
  color: #ffffff;
  text-align: center;
}

.testimonial {
  padding: 0px 0;
  background: linear-gradient(rgba(19, 3, 14, 0.8), rgba(3, 3, 3, 0.8)), url(../imagenes/buenosairesfondo3.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
}

.testimonial-content {
  display: flex;
  justify-content: space-between;
}

.testimonial1 {
  margin-top: 50px;
  flex-basis: calc(50% - 25px);
  padding: 20px 0;
  text-align: left;
}

.testimonial p {
  font-size: 20px;
  text-align: left;
  color: #ffffff;
}

h2 {
  font-size: 35px;
  color: #ff70cf;
  margin: 15px 0;
  line-height: 1;
}

h4 {
  color: #ff70cf;
}

.testimonial1 img {
  width: 600px;
  height: 600px;
  box-sizing: 1px;
  border: none;
  border-radius: 30px;
  box-shadow: 10px 10px 76px -20px rgba(255, 0, 179, 0.815);
}

.testimonial2 img {
  margin-top: 150px;
  width: 90%;
  height: 600px;
  box-sizing: 1px;
  border: none;
  border-radius: 30px;
  box-shadow: 10px 10px 76px -20px rgba(255, 0, 179, 0.815);
}

.contact-form {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  background: #ffffff;
  padding: 30px;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}

.container1 {
  max-width: 1000px;
  margin: 0 auto;
}

.contact-form h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #ff70cf;
}
.contact-form h3 {
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  color: #ff70cf;
  text-align: center;
}
.contact-form .main {
  position: relative;
  display: flex;
  margin: 30px 0;
}

.content {
  flex-basis: 50%;
  padding: 3em 3em;
  background: white;
  box-shadow: 2px 9px 49px -17px #ff70cf;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-img {
  flex-basis: 50%;
  background: #ffffff;
  background-size: cover;
  padding: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.imagencontacto {
  margin: auto;
  width: 400px;
  height: 500px;
  max-width: 100%;
  box-shadow: 2px 9px 49px -17px #ff70cf;
}

.btn, button, input {
  border-radius: 35px;
}

.contact-form form {
  margin: 30px 0;
}
.contact-form input {
  outline: none;
  margin-bottom: 10px;
  font-stretch: 16px;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: rgba(225, 0, 255, 0.281);
  transition: 0.3s ease;
}

textarea {
  outline: none;
  font-stretch: 16px;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: rgba(225, 0, 255, 0.281);
  transition: 0.3s ease;
}

.contact-form button {
  font-size: 18px;
  width: 100%;
  font-weight: 600;
  transition: 0.3s;
  padding: 14px 15px;
  margin-top: 30px;
}
.contact-form input:focus {
  background: transparent;
  border: 1px solid rgba(225, 0, 255, 0.281);
}
.contact-form button {
  font-size: 18px;
  color: white;
  width: 100%;
  font-weight: 600;
  transition: 0.3 ease;
  padding: 14px 15px;
  border: 1px solid rgba(225, 0, 255, 0.281);
}

.contact1 {
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagenes/buenosairesfondo2.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact1-content {
  text-align: center;
}

.contact1 span {
  color: #ff70cf;
}
.contact1 h2 {
  color: #ffffff;
}
.contact1 p {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.contactoimg1 {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.btn-wsp img {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp img:hover {
  background: rgb(0, 0, 0);
  box-shadow: 0px 1px 50px rgb(7, 7, 7);
  transform: translateY(-3%);
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(114, 0, 108, 0.212);
    backdrop-filter: blur(20px);
  }
  header {
    background-attachment: local;
  }
  .header1 {
    background-attachment: local;
  }
  .header2 {
    background-attachment: local;
  }
  .header3 {
    background-attachment: local;
  }
  .header4 {
    background-attachment: local;
  }
  .header-txt {
    margin-top: 100px;
    padding: 0 80px;
    text-align: center;
  }
  .header-txt h1 {
    font-size: 60px;
    line-height: 1;
  }
  .header-txt p {
    text-align: center;
    font-size: 20px;
  }
  .header-txt2 {
    margin-top: 100px;
    padding: 0 80px;
    text-align: center;
  }
  .header-txt2 h1 {
    font-size: 60px;
    line-height: 1;
  }
  .header-txt2 p {
    text-align: center;
    font-size: 20px;
  }
  .header-txt3 {
    margin-top: 100px;
    padding: 0 80px;
    text-align: center;
  }
  .header-txt3 h1 {
    font-size: 60px;
    line-height: 1;
  }
  .header-txt3 p {
    text-align: center;
    font-size: 20px;
  }
  .offcanvas-body {
    background: rgba(0, 0, 0, 0.781);
  }
  .offcanvas-body a {
    font-size: 24px;
  }
  .testimonial {
    background-attachment: local;
  }
  .testimonial-content {
    flex-direction: column;
  }
  .testimonial1 {
    text-align: center;
  }
  .testimonial1 h2 {
    text-align: center;
    font-size: 50px;
  }
  .testimonial1 h4 {
    text-align: center;
    font-size: 20px;
  }
  .testimonial1 p {
    text-align: center;
    font-size: 18px;
  }
  .testimonial1 img {
    margin-top: -100px;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
  }
  .grid {
    flex-direction: column;
  }
  .servi {
    width: 70px;
    height: 70px;
  }
  .contact-form .main {
    flex-direction: column;
  }
  .form-img {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    order: 2;
  }
  .form-img img {
    text-align: center;
  }
  .content {
    order: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .footerNav ul li a {
    margin-left: -30px;
  }
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .container1 {
    max-width: 600px;
  }
  .imagencontacto {
    margin-top: -30px;
  }
  .contact1 {
    background-attachment: local;
  }
  .about {
    max-width: 900px;
  }
  .testimonial2 img {
    margin-top: -80px;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .header-txt h1 {
    font-size: 40px;
    line-height: 1;
  }
  .header-txt p {
    font-size: 16px;
  }
  .header-txt2 h1 {
    font-size: 40px;
    line-height: 1;
  }
  .header-txt2 p {
    font-size: 16px;
  }
  .header-txt3 h1 {
    font-size: 40px;
    line-height: 1;
  }
  .header-txt3 p {
    font-size: 16px;
  }
  .testimonial-content {
    flex-direction: column;
  }
  .testimonial1 h2 {
    font-size: 30px;
  }
  .testimonial1 h4 {
    font-size: 14px;
  }
  .testimonial1 p {
    font-size: 14px;
  }
  .testimonial1 img {
    margin-top: -50px;
    width: 400px;
    height: 400px;
  }
  .grid {
    flex-direction: column;
  }
  .grid h3 {
    font-size: 30px;
  }
  .grid hr {
    width: 200px;
  }
  .grid p {
    text-align: center;
    font-size: 20px;
    width: 400px;
    margin: auto;
    margin-bottom: 75px;
  }
  .servi {
    width: 200px;
    height: 200px;
  }
  .contact-form .main {
    flex-direction: column;
  }
  .footerNav ul li a {
    margin-left: -30px;
  }
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .container1 {
    max-width: 400px;
  }
  .imagencontacto {
    width: 300px;
    height: 400px;
  }
  .about {
    max-width: 480px;
  }
  .testimonial2 img {
    width: 90%;
    height: 400px;
  }
}
@media (max-width: 500px) {
  .navbar img {
    width: 200px;
  }
  .header-txt {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0 60px;
  }
  .header-txt h1 {
    font-size: 35px;
    line-height: 1;
  }
  .header-txt p {
    font-size: 15px;
  }
  .header-txt2 {
    margin-bottom: 40px;
    padding: 0 60px;
  }
  .header-txt2 h1 {
    font-size: 35px;
    line-height: 1;
  }
  .header-txt2 p {
    font-size: 15px;
  }
  .header-txt3 {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0 60px;
  }
  .header-txt3 h1 {
    font-size: 35px;
    line-height: 1;
  }
  .header-txt3 p {
    font-size: 15px;
  }
  .testimonial1 h2 {
    font-size: 30px;
  }
  .testimonial1 h4 {
    font-size: 14px;
  }
  .testimonial1 p {
    font-size: 14px;
  }
  .testimonial1 img {
    margin-top: -80px;
    width: 300px;
    height: 300px;
  }
  .grid h3 {
    font-size: 24px;
  }
  .grid p {
    text-align: center;
    font-size: 16px;
    width: 300px;
    margin: auto;
    margin-bottom: 60px;
  }
  .servi {
    width: 100px;
    height: 100px;
  }
  .container1 {
    max-width: 280px;
  }
  .imagencontacto {
    width: 200px;
    height: 300px;
  }
  .about {
    max-width: 300px;
  }
  .imagencorrect {
    margin-left: -20px;
  }
  .offcanvas img {
    height: 60px;
    width: 250px;
  }
  .contact1 a {
    font-size: 24px;
  }
  .testimonial2 img {
    width: 90%;
    height: 300px;
  }
}
@media (max-width: 380px) {
  .header-txt {
    margin-top: 30px;
    padding: 0 40px;
  }
  .header-txt h1 {
    font-size: 30px;
    line-height: 1;
  }
  .header-txt p {
    font-size: 14px;
  }
  .testimonial1 img {
    height: 280px;
  }
  .grid h3 {
    font-size: 20px;
  }
  .grid hr {
    width: 100px;
  }
  .grid p {
    font-size: 16px;
    width: 300px;
    margin: auto;
    margin-bottom: 60px;
  }
  .servi {
    width: 100px;
    height: 100px;
  }
  .testimonial2 img {
    height: 280px;
  }
}

/*# sourceMappingURL=estilos.css.map */
