footer {
    background-color: black;
  }
  
  .footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
  }
  
  .socialIcons {
    display: flex;
    justify-content: center;
  
    a {
      text-decoration: none;
      padding: 10px;
      background-color: $color-violeta;
      margin: 15px;
      border-radius: 50%;
  
      i {
        font-size: 2em;
        color: black;
        opacity: 0.9;
      }
  
      &:hover {
        background-color: black;
        transition: 0.5s;
  
        i {
          color: $color-blanco;
          transition: 0.5s;
        }
      }
    }
  }
  
  .footerNav {
    ul {
      display: flex;
      justify-content: center;
      list-style-type: nonedisc;
  
      li a {
        color: $color-violeta;
        margin: 15px;
        text-decoration: none;
        font-size: 1.3em;
        opacity: 0.7;
        transition: 0.5s;

  
        &:hover {
          color: white;
        }
      }
    }
  }
  
  .footerBot {
    background-color: rgb(0, 0, 0);
    padding: 20px;

    p {
      color: $color-blanco;
      text-align: center;
      
    }
  }
  