@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(114, 0, 108, 0.212);
    backdrop-filter: blur(20px);
  }

  header {
    background-attachment: local;
  }

  .header1 {
    background-attachment: local;
  }

  .header2 {
    background-attachment: local;
  }

  .header3 {
    background-attachment: local;
  }

  .header4 {
    background-attachment: local;
  }


  .header-txt {
    margin-top: 100px;
    padding: 0 80px;
    text-align: center;

    h1 {
      font-size: 60px;
      line-height: 1;
    }

    p {
      text-align: center;
      font-size: 20px;
    }

  }


  .header-txt2 {
    margin-top: 100px;
    padding: 0 80px;
    text-align: center;

    h1 {
      font-size: 60px;
      line-height: 1;
    }

    p {
      text-align: center;
      font-size: 20px;
    }

  }


  .header-txt3 {
    margin-top: 100px;
    padding: 0 80px;
    text-align: center;

    h1 {
      font-size: 60px;
      line-height: 1;
    }

    p {
      text-align: center;
      font-size: 20px;
    }

  }

  .offcanvas-body {
    background: rgba(0, 0, 0, 0.781);
  }

  .offcanvas-body a {
    font-size: 24px;
  }



  .testimonial {
    background-attachment: local;
  }

  .testimonial-content {
    flex-direction: column;
  }

  .testimonial1 {
    text-align: center;

    h2 {
      text-align: center;
      font-size: 50px;
    }

    h4 {
      text-align: center;
      font-size: 20px;
    }

    p {
      text-align: center;
      font-size: 18px;

    }

    img {
      margin-top: -100px;
      text-align: center;
      width: 500px;
      height: 500px;
      margin: auto;
    }

  }

  .grid {
    flex-direction: column;
  }

  .servi {
    width: 70px;
    height: 70px;
  }

  .contact-form {
    .main {
      flex-direction: column;
    }


  }

  .form-img {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    order: 2;

    img {
      text-align: center;
    }
  }

  .content {
    order: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }



  .footerNav {

    ul li a {
      margin-left: -30px;
    }

  }

  .footerNav ul {
    flex-direction: column;

    li {
      width: 100%;
      text-align: center;
      margin: 10px;
    }


  }

  .container1 {
    max-width: 600px;
  }

  .imagencontacto {
    margin-top: -30px;
  }

  .contact1 {
    background-attachment: local;
  }

  .about {
    max-width: 900px;
  }


  .testimonial2 img {
    margin-top: -80px;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
  }

  .contactanos {
    width: 100%;
    margin: auto;
  }

  .box1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }

  .map {
    min-height: 300px;
    padding: 0;
  }

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox {
    width: 100%;
  }

  .contacto1 {
    padding: 30px;
  }

}

@media (max-width: 767px) {

  .header-txt {


    h1 {
      font-size: 40px;
      line-height: 1;
    }

    p {
      font-size: 16px;
    }
  }

  .header-txt2 {


    h1 {
      font-size: 40px;
      line-height: 1;
    }

    p {
      font-size: 16px;
    }
  }

  .header-txt3 {


    h1 {
      font-size: 40px;
      line-height: 1;
    }

    p {
      font-size: 16px;
    }
  }

  .testimonial-content {
    flex-direction: column;
  }

  .testimonial1 {

    h2 {
      font-size: 30px;
    }

    h4 {
      font-size: 14px;
    }

    p {
      font-size: 14px;
    }

    img {
      margin-top: -50px;
      width: 400px;
      height: 400px;
    }
  }

  .grid {

    flex-direction: column;


    h3 {
      font-size: 30px;
    }

    hr {
      width: 200px;
    }

    p {
      text-align: center;
      font-size: 20px;
      width: 400px;
      margin: auto;
      margin-bottom: 75px;

    }
  }

  .servi {
    width: 200px;
    height: 200px;
  }






  .footerNav {

    ul li a {
      margin-left: -30px;
    }

  }

  .footerNav ul {
    flex-direction: column;

    li {
      width: 100%;
      text-align: center;
      margin: 10px;
    }


  }

  .container1 {
    max-width: 400px;
  }

  .imagencontacto {
    width: 300px;
    height: 400px;
  }

  .about {
    max-width: 480px;
  }

  .testimonial2 img {
    width: 90%;
    height: 400px;
  }

  .contactanos {
    align-items: center;
  }

  .infoBox p {
    font-size: 16px;
  }





}







@media (max-width: 500px) {
  .navbar img {
    width: 200px;
  }


  .header-txt {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0 60px;

    h1 {
      font-size: 35px;
      line-height: 1;
    }

    p {
      font-size: 15px;
    }
  }

  .header-txt2 {
    margin-bottom: 40px;
    padding: 0 60px;

    h1 {
      font-size: 35px;
      line-height: 1;
    }

    p {
      font-size: 15px;
    }
  }

  .header-txt3 {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 0 60px;

    h1 {
      font-size: 35px;
      line-height: 1;
    }

    p {
      font-size: 15px;
    }
  }

  .testimonial1 {
    h2 {

      font-size: 30px;
    }

    h4 {

      font-size: 14px;
    }

    p {

      font-size: 14px;
    }

    img {
      margin-top: -80px;
      width: 300px;
      height: 300px;
    }
  }

  .grid {

    h3 {
      font-size: 24px;
    }

    p {
      text-align: center;
      font-size: 16px;
      width: 300px;
      margin: auto;
      margin-bottom: 60px;

    }
  }

  .servi {
    width: 100px;
    height: 100px;
  }

  .container1 {
    max-width: 280px;
  }

  .imagencontacto {
    width: 200px;
    height: 300px;
  }

  .about {
    max-width: 300px;
  }

  .imagencorrect {
    margin-left: -20px;
  }

  .offcanvas img {
    height: 60px;
    width: 250px;
  }

  .contact1 a {
    font-size: 24px;

  }

  .testimonial2 img {
    width: 90%;
    height: 300px;
  }

  .contactanos {
    margin: auto;
    padding: 20px;
  }

}

@media (max-width: 380px) {
  .header-txt {
    margin-top: 30px;
    padding: 0 40px;


    h1 {
      font-size: 30px;
      line-height: 1;
    }

    p {
      font-size: 14px;
    }
  }

  .testimonial1 img {
    height: 280px;
  }

  .grid {

    h3 {
      font-size: 20px;
    }

    hr {
      width: 100px;
    }

    p {
      font-size: 16px;
      width: 300px;
      margin: auto;
      margin-bottom: 60px;

    }
  }

  .servi {
    width: 100px;
    height: 100px;
  }

  .testimonial2 img {
    height: 280px;
  }

  .contactanos {
  }

}