
    .grid {
      text-align: center;
      margin-top: 100px;
      margin-bottom: 100px;
      background-color: white;
    
      h5 {
        margin-bottom: 20px;
        color: rgb(247, 0, 255);
      }
    
      h2 {
        color: black;
    
        hr {
          width: 50px;
          margin-top: 20px;
          margin-bottom: 20px;
          color: rgb(247, 0, 255);
        }
      }

      p {
        text-align: center;
      }
    }
    
    .servi {
      width: 150px;
      height: 150px;
    }
       
  